<script>
    $(document).ready(function() {
        $("#logout-btn").click(function() {
            $.ajax({
                url: "http://localhost/AjaxAuth/Api/logout.php",
                type: "POST",
                success: function(response) {
                    if (response.success) {
                        window.location.href = "index.php"; // Redireciona para a tela de login
                    } else {
                        alert("Erro ao fazer logout.");
                    }
                },
                error: function() {
                    alert("Erro ao conectar com o servidor.");
                }
            });
        });
    });
</script>